

*{
color: black;
margin: 0;
padding: 0;
font-family: sans-serif;
}

a:link{
  text-decoration: none;
  font-style: italic;
}


/* Header Component Classes */
.headerBox{
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  background-color: white;
  position:fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  justify-content:space-between;
}

.headerTime{
  
  color: rgb(79, 113, 62);
}

.icontitle{
  display: flex;
  align-items: center;
}

.navbarcats{
  
  display: flex;
  gap: 30px;
}
.navbarcatsingle:hover{
  color: red;

}

/* Hero Component Classes */
.hero{
  background-image: url("../src/images/heroplant.png");
  background-size:cover;
  background-position: center;
  height: 660px;
  margin-bottom: 100px;
  margin-top: 70px;

}

.titlebox{
  margin-left: 340px;
  padding-top: 120px;
}

.leafyTitle{
 font-size: 70pt;
 color: rgb(79, 113, 62);
 font-family: serif;
}

/* Product Preview Component Classes */
.displayRow{
  margin: 200px 50px 100px 50px;
  display:inline;
}

.subHeading{
  font-size: 50px;
}

.carDiv{

text-align: center;
align-items: center;
margin-bottom: 50px;
display: flex;
justify-content: space-around;
}

.imagecontainer{
  display: flex;
  align-items: center;
}

.reviewcontainer{
  width: 800px;
}

.meetFriends{
  margin-left: 60px;
  font-size: 35px;
}

.tipboxes{
  display: flex;
}

.tipbox{
  background-color: white;
  margin: 20px 20px 0px 20px;
  padding: 20px;
}

.reviewBox{
  margin: 30px;
  padding: 80px 0px 20px 0px;
  width: 1100px;
  text-align: center;
  align-items: center;
  border: 4px solid black;
  border-radius: 3px;
}
.reviews{
  font-style: italic;
  font-weight: lighter;
}
.subBox{
  margin: 30px;
  padding: 20px 0px 20px 0px;
  width: 340px;
  text-align: center;
  align-items: center;
  border: 4px solid black;
  border-radius: 3px;

}

.catboxes{
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}


.catbox{
  border-radius: 15px;
  margin: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#catbox1{
    background-image: url("../src/images/houseplants.jpg");
    background-size:cover;
    background-position: center;
  }


#catbox2{
  background-image: url("../src/images/outdoorplants.jpg");
  background-size:cover;
  background-position: center;
}
#catbox3{
  background-image: url("../src/images/plantcare.jpg");
  background-size:cover;
  background-position: center;
}
#catbox4{
  background-image: url("../src/images/flowers.jpg");
  background-size:cover;
  background-position: center;
}

.categorytext{
  font-size: 26pt;
  color: black;
  background-color: rgb(255, 255, 255, .6);
  border-radius: 10px;
}
.categorytext:hover{
  font-size: 26pt;
  color: white;
  background-color: rgb(0, 0, 0, .7);
}

/* cart */

.yourCart{
  margin-top: 150px;
  font-size: 30px;
  font-family:Georgia;
}

/* all plants */
.productrow{
  display:flex;
  flex-wrap:wrap;
  gap: 20px;
  width: 1200px;
  justify-content: center;
}

/* UTILITIES */


.leafGreen{
  color: rgb(79, 113, 62);
  text-align: left;
 }

.smallImage{
  width: 50px;
  margin: 10px;

}

.smallarrow{
  width: 50px;
  margin-bottom: 3px;
  margin-left: 3px;

}
.smallarrow:hover{
  width: 53px;
  margin-bottom: 0px;
  margin-left: 0px;
  
}

.medImage{
  width: 220px;
  height: 300px;
  margin: 30px 20px;
}

.searchBar{
  border-radius: 15px;
  align-items: center;
  padding-left: 10px;
  margin-right: 10px;
}


.verticalCenter{
  align-items: center;
}


.arrow{
  margin: 0 10px 0px 10px;
}


.bigContainer{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 110px;
  margin-top: 30px;
}

.container1{
  flex: 1;
  display: flex;
}

.lefty{
  text-align: left;
}



.revarrow{
  margin: 40px 20px;
  border: none;
  outline: none;
  background-color: white;
}


.largeImage{
  width: 370px;
}

.subheadcontainer{
  background-color: rgb(217, 224, 216);
  flex: 1;
  align-items: center;

}