

*{
color: black;
margin: 0;
padding: 0;
}


/* Header Component Classes */
.headerBox{
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.headerTime{
  flex: 1;
  color: rgb(79, 113, 62);
}

/* Hero Component Classes */
.hero{
  background-image: url("../src/images/heroplant.png");
  background-size:cover;
  background-position: center;
  height: 600px;

}

.titlebox{
  margin-left: 340px;
  padding-top: 50px;
}

.leafyTitle{
 font-size: 70pt;
 color: rgb(79, 113, 62);
}

.tagline{
  
}


/* Product Preview Component Classes */
.displayRow{
  margin: 200px 50px 100px 50px;
  display: flex;
}

.leftCol1{
  flex: 2;
}
.rightCol1{
  flex: 2;
}

.subHeading{
  font-size: 50px;
}



/* UTILITIES */

.smallImage{
  width: 50px;
}

.searchBar{
  border-radius: 15px;
  align-items: center;
  padding-left: 10px;
  margin-right: 10px;
}

